<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="built.css">
    <script src="/dist/built.js"></script>

  </head>

  <body>
    <h1>Shor</h1>
    <%- body %>
  </body>
</html>
